// ===== GOOGLE FONT =====
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&display=swap");

// ===== VARIABLE SCSS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #181817;
$white-color: #ffffff;
$grey-color: #6f6f6f;
$yellow-color: #f6d88c;

// font body
$font-body: "Darker Grotesque", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-rooltip: 10;
$z-fixed: 100;

// transion
$transion-400: 0.4s;

// line-height
$leading-title: 100%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-medium;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-medium;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
// section class
.section {
  padding: 7rem 0;

  &-title {
    font-size: 42px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 18px;
    color: $grey-color;
    margin-bottom: $margin-2;
  }
}

// button class
.button {
  &-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $yellow-color;
    border-radius: 1rem;
    font-size: 18px;
    font-weight: $font-bold;
    text-transform: uppercase;
    color: $black-color;
  }

  &-link {
    display: inline-flex;
    font-size: 18px;
    font-weight: $font-bold;
    color: $black-color;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;

  &-gap {
    gap: 3rem;
  }
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: $z-fixed;
  transition: $transion-400;

  // sticky header
  &.sticky-action {
    background-color: $white-color;
    box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.1);
  }

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 28px;
    font-weight: $font-bold;
    color: $black-color;
  }

  @media screen and (max-width: 767px) {
    &__menu {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      border-radius: 2rem;
      transition: $transion-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 18px;
    font-weight: $font-medium;
    color: $grey-color;

    &.active-link {
      font-weight: $font-bold;
      color: $black-color;
    }
  }

  &__social {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;

    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      padding: 0.2rem;
      border: 1.5px solid rgba($color: #6f6f6f, $alpha: 0.5);
      border-radius: 50%;
      font-size: 1.5rem;
      color: $black-color;
      transition: $transion-400;

      &:hover {
        background-color: $black-color;
        color: $white-color;
      }
    }
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  padding: 7rem 0 4rem;
  background-color: #f8f3ec;

  &__data,
  &__img {
    justify-self: center;
  }

  &__buttons {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    &-rating {
      height: 40px;
    }
  }
}

// ===== PARTNER SECTION =====
.partner {
  &__data {
    padding-left: 1.5rem;
    border-left: 5px solid $yellow-color;
  }

  &__title {
    font-size: 32px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &__text.section-text {
    margin-bottom: 0;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
  }
}
