// ===== GOOGLE FONT =====
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&display=swap");

// ===== VARIABLE SCSS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #181817;
$white-color: #ffffff;
$grey-color: #6f6f6f;
$yellow-color: #f6d88c;

// font body
$font-body: "Darker Grotesque", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-rooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 100%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-medium;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-medium;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
// section class
.section {
  padding: 7rem 0;

  &-title {
    font-size: 42px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 18px;
    color: $grey-color;
    margin-bottom: $margin-2;
  }
}

// button class
.button {
  &-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $yellow-color;
    border-radius: 1rem;
    font-size: 18px;
    font-weight: $font-bold;
    text-transform: uppercase;
    color: $black-color;
  }

  &-link {
    display: inline-flex;
    font-size: 18px;
    font-weight: $font-bold;
    color: $black-color;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;

  &-gap {
    gap: 3rem;
  }
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: $z-fixed;
  transition: $transition-400;

  // sticky header
  &.sticky-action {
    background-color: $white-color;
    box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.1);
  }

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 28px;
    font-weight: $font-bold;
    color: $black-color;
  }

  @media screen and (max-width: 767px) {
    &__menu {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      border-radius: 2rem;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 18px;
    font-weight: $font-medium;
    color: $grey-color;

    &.active-link {
      font-weight: $font-bold;
      color: $black-color;
    }
  }

  &__social {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;

    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      padding: 0.2rem;
      border: 1.5px solid rgba($color: #6f6f6f, $alpha: 0.5);
      border-radius: 50%;
      font-size: 1.5rem;
      color: $black-color;
      transition: $transition-400;

      &:hover {
        background-color: $black-color;
        color: $white-color;
      }
    }
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  padding: 7rem 0 4rem;
  background-color: #f8f3ec;

  &__data,
  &__img {
    justify-self: center;
  }

  &__buttons {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    &-rating {
      height: 40px;
    }
  }
}

// ===== PARTNER SECTION =====
.partner {
  &__data {
    justify-self: center;
    padding-left: 1.5rem;
    border-left: 5px solid $yellow-color;
  }

  &__title {
    font-size: 36px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &__text.section-text {
    margin-bottom: 0;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 1rem;
  }
}

// ===== ABOUT SECTION =====
.about {
  background-color: $black-color;

  &__data,
  &__img {
    justify-self: center;
  }

  &__title,
  &__item,
  &__text {
    color: $white-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: $margin-1;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: $font-medium;

    &-icon {
      display: inline-flex;
      padding: 0.1rem;
      background-color: $yellow-color;
      border-radius: 50%;
      font-size: 1rem;
      color: $black-color;
    }
  }

  &__button {
    display: inline-flex;
  }
}

// ===== VIDEO SECTION =====
.video {
  position: relative;

  &__container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center;
  }

  &__play {
    position: absolute;
    display: inline-flex;
    padding: 1rem;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 50%;
    backdrop-filter: blur(5px);
    font-size: 2rem;
    color: $black-color;
    cursor: pointer;
  }
}

// ===== FEATURE SECTION =====
.feature {
  background-color: #f8f3ec;

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__text.section-text {
    margin-bottom: 0;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.9fr));
    justify-content: center;
    gap: 2rem;
  }

  &__content {
    display: grid;
    gap: 1rem;
    padding: 2.5rem;
    background-color: #eae4dc;

    &-title {
      font-size: 36px;
      font-weight: $font-bold;
      color: $black-color;
      line-height: $leading-title;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 18px;
      font-weight: $font-medium;
      color: $grey-color;
      margin-bottom: $margin-2;
    }
  }
}

// ===== TESTIMONIAL SECTION =====
.testimoninal {
  &__data {
    text-align: center;
  }

  &__text.section-text {
    margin-bottom: 0;
  }

  &__content {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    border: 2px solid rgba($color: #6f6f6f, $alpha: 0.3);
    transition: $transition-400;

    &-rating {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-rate {
      font-size: 18px;
      font-weight: $font-semibold;
    }

    &-stars {
      display: inline-flex;
      align-items: center;
      gap: 0.2rem;
    }

    &-icon {
      display: inline-flex;
      font-size: 1rem;
      color: $yellow-color;
    }

    &-comment,
    &-profession {
      font-size: 18px;
      color: $grey-color;
    }

    &-profile {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-img {
      width: 65px;
    }

    &-name {
      font-size: 20px;
      font-weight: $font-semibold;
      margin-bottom: 4px;
    }

    &.swiper-slide-active {
      box-shadow: 10px 10px 0 $black-color;
    }
  }

  .swiper-wrapper {
    padding: 3rem 0;
  }

  &__container {
    overflow: hidden;

    & .swiper-pagination {
      position: initial;
    }

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      transition: $transition-400;
    }

    & .swiper-pagination-bullet-active {
      width: 2rem;
      height: 10px;
      background-color: rgba($color: #212529, $alpha: 1);
      border-radius: 5rem;
    }
  }
}

// ===== CALLBACK SECTION =====
.callback {
  background-color: $black-color;

  &__container {
    gap: 1rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__title,
  &__text {
    color: $white-color;
  }
  &__button {
    justify-self: center;
  }
}

// ===== BLOG SECTION =====
.blog {
  &__data {
    justify-self: center;
  }

  &__button {
    display: inline-flex;
    background-color: $black-color;
    color: $yellow-color;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.9fr));
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    display: grid;
    gap: 1rem;

    &-box {
      overflow: hidden;
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-date {
      display: inline-flex;
      font-size: 18px;
      font-weight: $font-bold;
      color: $yellow-color;
      margin-bottom: $margin-0-5;
    }

    &-title {
      font-size: 36px;
      font-weight: $font-bold;
      color: $black-color;
      line-height: $leading-title;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 18px;
      color: $grey-color;
      margin-bottom: $margin-1;
    }
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 7rem 0 4rem;
  background-color: $black-color;

  &__container {
    display: grid;
    gap: 7rem;
  }

  &__group {
    display: grid;
    gap: 3.5rem;
  }

  &__data {
    text-align: center;

    &-title {
      font-size: 28px;
      font-weight: $font-bold;
      color: $white-color;
      margin-bottom: $margin-0-5;
    }

    &-text {
      font-size: 18px;
      width: 300px;
      margin: 0 auto;
      color: $white-color;
    }

    &-social {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1.5rem;
    }

    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      padding: 0.2rem;
      border: 1.5px solid rgba($color: #6f6f6f, $alpha: 0.5);
      border-radius: 50%;
      font-size: 1.5rem;
      color: $white-color;
      transition: $transition-400;

      &:hover {
        background-color: $white-color;
        color: $black-color;
      }
    }
  }

  &__form {
    text-align: center;
    justify-self: center;

    &-title {
      color: $white-color;
    }

    &-text {
      color: $white-color;
      margin: 0 auto;
    }

    &-direction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      padding: 0.3rem;
      border: 2px solid rgba($color: #6f6f6f, $alpha: 0.3);
      border-radius: 1rem;
      margin-top: 2rem;
    }

    &-input {
      width: 100%;
      padding: 1rem;
      background-color: transparent;
      font-size: 18px;
      font-weight: $font-medium;
      color: $white-color;

      &::placeholder {
        font-size: 18px;
        font-weight: $font-medium;
        color: $grey-color;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
    gap: 2rem;

    &-title {
      font-size: 18px;
      font-weight: $font-medium;
      color: $grey-color;
      margin-bottom: 4px;
    }

    &-text {
      font-size: 32px;
      color: $grey-color;
    }
  }

  &__copy {
    display: grid;
    justify-self: center;
    text-align: center;
    gap: 1rem;

    &-rights,
    &-link {
      font-size: 18px;
      color: $grey-color;
    }

    &-link:hover {
      color: $white-color;
      text-decoration: underline;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

// ===== MEDIA QUERIES =====
// width 480px
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 52px;
  }

  .home__buttons-rating {
    height: 50px;
  }

  .partner__title {
    font-size: 42px;
  }

  .section-text,
  .button,
  .header__link,
  .about__item,
  .feature__content-text,
  .testimoninal__content-comment,
  .blog__content-text,
  .footer__data-text,
  .footer__list-title,
  .footer__copy-rights,
  .footer__copy-link {
    font-size: 20px;
  }
}

// width 640px
@media screen and (min-width: 640px) {
  .home__data,
  .home__img,
  .partner__data,
  .about__data,
  .about__img,
  .feature__data,
  .blog__data,
  .footer__form {
    width: 500px;
  }

  .partner__content-img {
    width: 240px;
    justify-self: center;
  }

  .callback__data {
    width: 530px;
  }

  .video__container {
    height: 400px;
  }
}

// width 767px
@media screen and (min-width: 767px) {
  .header {
    &__menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &__list {
      flex-direction: row;
    }

    &__social {
      margin-top: 0;
    }

    &__toggle {
      display: none;
    }
  }
}

// width 968px
@media screen and (min-width: 968px) {
  .section-title {
    font-size: 56px;
  }

  .header {
    &__container {
      position: relative;
    }

    &__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &__menu {
      width: 100%;
      justify-content: space-between;
    }
  }

  .home {
    padding-top: 9rem;
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__data,
    &__img {
      width: auto;
    }
  }

  .partner {
    &__container {
      grid-template-columns: 0.8fr 1fr;
      align-items: center;
    }

    &__data {
      justify-self: start;
    }

    &__title {
      font-size: 48px;
    }

    &__data,
    &__content-img {
      width: auto;
    }

    &__group {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }

  .about {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__data {
      order: 2;
    }

    &__data,
    &__img {
      width: auto;
    }
  }

  .callback {
    &__data {
      width: auto;
    }

    &__title {
      width: 700px;
    }

    &__text {
      width: 500px;
      margin: 0 auto;
    }
  }

  .blog {
    &__data {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }

    &__text {
      width: 500px;
    }

    &__text.section-text {
      margin-bottom: 0;
    }
  }

  .footer {
    &__form {
      width: auto;
    }

    &__form-text {
      width: 450px;
    }

    &__list {
      justify-content: center;
    }

    &__copy {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

// width 1120px
@media screen and (min-width: 1120px) {
  .container {
    margin: 0 auto;
  }

  .home__title {
    font-size: 78px;
  }
}
